@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
body {
  overflow-x: hidden;
  background-color: #DADDD8;
  font-family: 'Fuzzy Bubbles', cursive;
 
}
/* navigációs sáv */
.navbar {
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.modal-dialog {
  margin: auto;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-right: 2rem;
}

.nav-link {
  font-size: 1.2rem;
  color: #fff;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #a7a7a7;
}

.dropdown-menu {
  background-color: #333;
}
.navbar-nav .show>.nav-link {
  color: #a7a7a7;
}
.navbar-item:active{
  color: #a7a7a7 !important;
}
.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: rgb(153, 151, 151);
}

.navbar-toggler-icon {
  background-image: url('https://img.icons8.com/material-outlined/24/ffffff/menu--v1.png');
  width: 24px;
  height: 24px;
}






/*nyitvatartas*/
.nyitvatartas {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

th,
td {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  text-align: center;
}

th {
  text-align: left;
}

thead th {
  font-weight: bold;
  text-align: center;
  background-color: #000000;
  color: #000000;
}

@media (max-width: 767px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid rgb(0, 0, 0);
  }

  td {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  th:nth-of-type(1):before {
    content: "Hétfő";
  }
  th:nth-of-type(2):before {
    content: "Kedd";
  }
  th:nth-of-type(3):before {
    content: "Szerda";
  }
  th:nth-of-type(4):before {
    content: "Csütörtök";
  }
  th:nth-of-type(5):before {
    content: "Péntek";
  }
  th:nth-of-type(6):before {
    content: "Szombat";
  }
  th:nth-of-type(7):before {
    content: "Vasárnap";
  }
}


/*/nyitvatartas*/



/*cím*/

h2{
  font-size: 40px;
  text-align: center;
}

h1{
  text-align: center;
}

/*/cím*/

/*rolunk*/
.borbely{
  border-radius: 10%;
}
.eredmenyek{
  list-style: url('../img/icon/trophy.svg');
  
}

.location{

border-radius: 30px 30px 30px 30px;
box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background-color:rgba(145, 143, 143, 0.377);
}
h5{
  text-align: center;
}

h4{
  text-align: center;
  margin-top: 7px;
}

.leftcolumn {   
  float: left;
  width: 70%;
}


.rightcolumn {
  float: right;
  width: 27%;
  padding-left: 20px;
}


.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.borbelycard{
  background-color:rgba(0, 0, 0, 0.74);
  padding: 20px;
  margin-top: 20px;
  color: rgb(158, 158, 158);
  border-radius: 18px 18px 18px 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.eredmenycard{
  background-color:rgba(94, 11, 11, 0.267);
  padding: 20px;
  margin-top: 20px;
  width: 500px;
}
.rolunkcard{
  background-color:rgba(80, 123, 163, 0.377);
  padding: 20px;
  margin-top: 20px;
  width: 500px;
}

.focard {
   
   padding: 20px;
   margin-top: 20px;
}



.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
/*/rolunk*/


/*Elérhetőségek*/
@media (max-width: 576px) {
  .list-group-item {
    flex-wrap: wrap;
  }
}




/*/Elérhetőségek*/


/*lablec*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  padding: 40px 0;
  background-color: #333;
  position: relative;
  left: 0;
  bottom: 0;
   width:100%;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #ffffff;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
.list{
  color:#aaa
}
.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul a:hover {
  opacity: 1;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

  /*/lablec*/

  
/*Időpontfoglalás*/
ul{
  font-size: 22px;
}
.button{
  background-color: #ffffff;
  color: #d9d9d9;
}
/*/Időpontfoglalás*/

/*termekek*/
.header {
  position: relative;
}

.cart-icon {
  position: absolute;
  top: 35px;
  right: 40px;
  cursor: pointer;
}

.termekek{
  
  margin: 0 auto;
  width: 300px;
  height: 570px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
}

/*Login*/
label{
  font-size: 27px !important;

}
.btn{
  color: white;
  background-color: #333;
  border: 1px solid #1C1C1C;
  font-size: 27px;
}
.btn:hover{
  color:white;
  background-color: #333;
  border: 1px solid #1C1C1C;
  font-size: 27px;
  font-weight: bolder;
}

/*arlista*/
.column {

  width: 25%;
  padding: 0 10px;
}

.leirasgomb{
  background-color: #333;
 height: 35px;
 font-size: 15px;
 
}

.leirasgomb:hover{
  background-color: #333;
  height: 35px;
  font-size: 15px;
}



@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/*
.card-deck .arlista {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  width: 100%;
  transition: transform .5s ease;
}
*/
.al{
  margin:0 auto;

}
.arkep{
  height: 350px;
  width: 250px;
  margin: 0 auto;
}
.arlista {
  margin: 0 auto;
  width: 300px;
  height: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;


}
/* /arlista/