@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body {
  overflow-x: hidden;
  background-color: #DADDD8;
  font-family: 'Montserrat Alternates', sans-serif;
}
/*menu*/
.navbar ul li a {
    color: black;
    font-size: 30px !important;
}
.navbar a{
  font-family: 'Montserrat Alternates', sans-serif;
}
.navbar {
    min-height: 182px;
    background-color: #DADDD8;
    border: black solid 1px;
}
.navbar ul {
    line-height: 150px;
}
/*/menu*/

/*nyitvatartas*/
.nyitvatartas {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

th,
td {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  text-align: center;
}

th {
  text-align: left;
}

thead th {
  font-weight: bold;
  text-align: center;
  background-color: #000000;
  color: #000000;
}

tbody tr:hover {
  background-color: rgba(182, 182, 182, 0.116);
}

@media (max-width: 767px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid rgb(0, 0, 0);
  }

  td {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  th:nth-of-type(1):before {
    content: "Hétfő";
  }
  th:nth-of-type(2):before {
    content: "Kedd";
  }
  th:nth-of-type(3):before {
    content: "Szerda";
  }
  th:nth-of-type(4):before {
    content: "Csütörtök";
  }
  th:nth-of-type(5):before {
    content: "Péntek";
  }
  th:nth-of-type(6):before {
    content: "Szombat";
  }
  th:nth-of-type(7):before {
    content: "Vasárnap";
  }
}


/*/nyitvatartas*/



/*cím*/

h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: rgb(0, 0, 0);
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
}

/*/cím*/

/*Borbéylok*/
.card {
  
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
 

@media (min-width: 576px) {
  .card {
    width: calc(20% - 16px);
    display: block;
    margin-right: 16px;
  }
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;

}

.card:hover .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

.card-text {
  display: block;
  font-style: italic;
  font-weight:200;
  bottom: 0;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  color: white;
  font-size: 30px;
  font-family: 'Inconsolata', monospace;
  min-width: 100%;

}

.d-flex {
  display: flex;
  justify-content: center;
}



/*/Borbéylok*/


/*Elérhetőségek*/
@media (max-width: 576px) {
  .list-group-item {
    flex-wrap: wrap;
  }
}
/*/Elérhetőségek*/