<div ng-include src="'./html/navigate.html'"></div>

<div class="header">
    <h2>Kosár</h2>
</div>

<div class="container">
  <div class="row">
    <table class="table-bordered table-striped">
      <thead class="text-white">
        <tr ng-if="cart.length">
          <th ng-repeat="(k, v) in cart[0] track by $index"
              style="color:white!important">
            {{k}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in cart track by $index">
          <td ng-repeat="(k, v) in x track by $index">{{v}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div ng-include src="'./html/footer.html'"></div>