<div ng-include src="'./html/navigate.html'"></div>
<h2 class="mt-5">Üdvözlünk újra az oldalon!</h2>
<div class="container mt-5">

	<div class="mb-3 row">
		<label for="inputEmail" class="col-md-2 col-form-label">E-mail cím:</label>
		<div class="col-md-10">
		  <input type="text" class="form-control" id="email" ng-model="model.email">
		</div>
	</div>
	<div class="mb-3 row">
		<label for="inputPassword" class="col-md-2 col-form-label">Jelszó:</label>
		<div class="col-md-10">
		  <input type="password" class="form-control" id="jelszo" ng-model="model.jelszo">
		</div>
	</div>
	<div class="text-center mt-5">
		<button type="button" class="btn" ng-click="login()">Bejelentkezés</button>
		<button type="button" class="btn" ui-sref="register">Nincs még fiókom</button>
	</div>
</div>
<div class="modal fade" id="sikertelenbejentkez" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="sikertelenbejentkez">Sikertelen Bejelentkezés!</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Hibás felhasználónév vagy jelszó!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-bs-dismiss="modal" ng-click="dismiss()">Bezárás</button>
			</div>
		</div>
	</div>
</div>
<div ng-include src="'./html/footer.html'"></div>