<div ng-include src="'./html/navigate.html'"></div>
<h2 class="mt-5">Üdvözlünk újra az oldalon!</h2>
<div class="container mt-5">
	<div class="mb-3 row">
		<label for="inputEmail" class="col-md-2 col-form-label">E-mail cím:</label>
		<div class="col-md-10">
			<input type="text" class="form-control" id="email" ng-model="model.email">
		</div>
	</div>
	<div class="mb-3 row">
		<label for="inputPassword" class="col-md-2 col-form-label">Jelszó:</label>
		<div class="col-md-10">
			<input type="password" class="form-control" id="jelszo" ng-model="model.jelszo">
		</div>
	</div>
	<div class="text-center mt-5 footerFixing">
		<button type="button" class="btn" ng-click="login()">Bejelentkezés</button>
		<button type="button" class="btn" ui-sref="register">Nincs még fiókom</button>
	</div>
</div>
<div ng-include src="'./html/footer.html'"></div>