<div ng-include src="'./html/navigate.html'"></div>

<div class="main">

  <div class="header">
    <h2>Termékeink</h2>
    <div class="cart-icon">
      <a ui-sref="kosar" ng-disabled="$root.bejelentkezve === false" ng-click="handleCartClick()">
        <i class="fa fa-shopping-cart"></i>
        <span class="badge" ng-show="cart.length">{{cart.length}}</span>
      </a>
    </div>
    
    
    
  </div>
  <!-- Title -->
  <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
    <h2 class="display-6 text-muted my-5">
      Tekintsd meg termékeinket:
    </h2>
    <p>
      <b>CSAK UTÁNVÉTES FIZETÉS!</b> Jelentkezzen be és a rendelés azonnal elérhetővé válik!
    </p>

  </div>
</div>

<div class="row my-5">
  <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
    <form action="#" method="get">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Keresés név szerint..." id="search" ng-model="searchTerm"
          ng-keyup="search()">
      </div>
    </form>
  </div>
</div>

<div class="row">


  <div class="container-fluid">
    <div class="row my-5">

      <div class="col-sm-6 col-md-4 col-lg-2 mb-4" 
           ng-repeat="termekek in filteredData track by $index">
        <div class="card termekek mx-1 px-1">
          <img class="card-img-top arkep img-fluid" ng-src="./img/{{termekek.termekkep}}" alt="..." title="{{termekek.megnev}}" />
          <div class="card-body p-1">
            <div class="text-center">
              <h5 class="fw-bolder">{{termekek.megnev}}</h5>
              {{termekek.ar}} Ft
            </div>
            <button type="button" class="btn btn-secondary leirasgomb" data-bs-toggle="modal"
              data-bs-target="#modal{{ $index }}">
              Leírás
            </button>
          </div>
          <button class="btn btn-sm btn-dark kosar float-end px-1 shadow-sm w-100"
                  ng-click="toCart(termekek) ">
            Kosárba
          </button>
        </div>
        
        <div class="modal fade" id="modal{{ $index }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">{{termekek.megnev}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="text-align:justify;">
                {{termekek.leiras}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary leirasgomb" data-bs-dismiss="modal">Bezárás</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="filteredData.length === 0" class="text-center">Nincs találat!</div>
    
  </div>


</div>

<div ng-include src="'./html/footer.html'"></div>
